@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

#canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  color: #fff;
  background-image: linear-gradient(to right top, #9e4770, #a4557a, #a96383, #ae708d, #b37d96, #aa7990, #a0768a, #977284, #7f5d6d, #674958, #513643, #3b242f);
}

#container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 730px;
  height: 780px;
  border: 2px solid black;
  background-color: #201a23;
}

.app-title {
  display: flex;
  justify-content: center;
  margin-top: 46px;
}

img.profile-pic {
  display: block;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin-top: 16px;
  border: 5px solid #44354A;
}

.btn-container {
  margin: 25px 5px 34px 0;
}

.sales-btn {
  width: 130px;
  height: 55px;
  border-radius: 10px;
  background-color: #9E4770;
  border: none;
  margin-left: 5px;
  font-size: 26px;
}

.live-container {
  font-size: 23px;
  font-weight: 600;
  text-align: center;
}

.live-container div {
  display: flex;
  align-items: center;
  width: 600px;
  height: 45px;
  font-size: 25px;
  background-color: #44354A;
  border-radius: 50px;
}

.live-container:nth-child(odd) {
  margin-top: 41px;
}

.tracker {
  padding: 0 21px 0 21px;
  letter-spacing: -6px;
}

.sales-results {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 620px;
  height: 170px;
  /* border: 2px solid white; */
  font-size: 23px;
  font-weight: 600;
  margin-top: 54px;
}

.total-tracker {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 290px;
  height: 60px;
  background-color: #44354A;
  border-radius: 50px;
  /* margin-right: 20px; */
}

.revenue {
  margin: 0 0 5px 68px;
}

.commission {
  margin: 0 0 5px 42px;
}
